/* Colors */

:root {
	--vp-c-brand-1: #3086ff;
	--vp-c-brand-2: #75aeff;

	--vp-button-brand-bg: #3661a2;
	--vp-button-brand-hover-bg: #24447f;
	--vp-button-brand-press-bg: #4896f3;

	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(
		120deg,
		#3661a2,
		#4896f3
	);
	--vp-home-hero-logo-background: -webkit-linear-gradient(
		120deg,
		#3661a2,
		#4896f3
	);

	--vp-home-hero-image-filter: blur(96px);

	--vp-c-bg: #f2f5f8;
	--vp-c-bg-alt: #dfe8f5;
	--vp-c-bg-elv: #dde7f4;
	--vp-c-bg-soft: #e8f1fe;

	--vp-c-border: #c0c3c6;
	--vp-c-divider: #dfe2e6;
	--vp-c-gutter: #dfe2e6;
	--vp-plugin-tabs-tab-bg: var(--vp-c-bg);

    --vp-badge-info-bg: #122d26;
    --vp-badge-info-text: #6bdbbd;
    --vp-badge-tip-bg: #132741;
    --vp-badge-tip-text: #70abfa;
}

.dark {
	--vp-c-brand-2: #234782;
	--vp-c-bg: #0d131b;
	--vp-c-bg-alt: #111720;
	--vp-c-bg-elv: #182231;
	--vp-c-bg-soft: #182231;

	--vp-c-border: #111720;
	--vp-c-divider: #1d273c;
	--vp-c-gutter: #181d27;
}

